.header {
  font-size: 30px;
  color: black;
  margin: auto;
  text-align: center;
}
.card {
  width: 200px;
}
.card img {
  width: 100%;
}
.price {
  font-size: 20px;
  text-align: center;
}
.brand{
  text-align: center;
}
